{% extends 'layout.html' %}
{% block title %} Категории товаров {% endblock %}
{% block content %}
{% load static %}

{% if request.user.is_staff  %}

<form method="POST" action="">
{% csrf_token %}
{{ form.as_p }}

    <input type="submit" value="Сохранить" >
</form>


{% endif %}



<table class="table table-bordered">
  <thead>
    <tr>

      <th scope="col">Код категории</th>
      <th scope="col">Название категории</th>
      {% if request.user.is_staff  %}
        <th scope="col">Изменить</th>
      <th scope="col">Удалить</th>
      {% endif %}

    </tr>
  </thead>
  <tbody>
   {% for newKategory in Kategorys %}
    <tr>

    <td>{{ newKategory.id }} </td>
    <td>{{ newKategory.namekategorii }}</td>
    {% if request.user.is_staff  %}
    <td><a href = "{% url 'editkategory' id=newKategory.id %}">Изменить</a></td>
    <td><a href = "{% url 'deletekategory' id=newKategory.id %}">Удалить</a></td>
    {% endif %}

    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}